h3{
    color: #1c232f;
}
.lower-grid-txt p{
    color: #293241 !important;
}

@media only screen and (min-width: 3000px) {
    .grid-container{
        display:grid;
        grid-template-columns: auto auto auto auto auto;
        height:70%;
        padding:5%;
        overflow-y:auto;
        scrollbar-width: none; 
        row-gap: 3vmin;  
        column-gap: 3vmin;
        
    }
    .grid-item{
        width:20vmin;
        height:25vmin;
        
    }

    .market-grid-item{
        width:100%;
        height:80%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: drop-shadow(0 0 3px #000);
        border-radius: 18px;
    }
    .grid-item h3{
        -webkit-line-clamp: 1;
        overflow: hidden;
        margin-bottom: 0.4vmin;
        font-size:1.3vmin;
        font-weight: normal;
    }
    .lower-grid-txt{
        display:flex;
        justify-content: space-between;
    }
    .lower-grid-txt h3{
        font-weight: bold;
        font-size:1.4vmin;
        letter-spacing:1px;
        margin:0;
    }
    .lower-grid-txt p{
        color:#C8C8C8;
        letter-spacing:1px;
        margin:0;
        font-size:1vmin;
    }
    
    #filter-settings-btn{
        display:none;
    }
    #lrf-back-btn{
        display:none;
    }
    #resource-filter-heading{
        font-size:3.5vmin;
        line-height: 3.5vmin;
    }
    #search-bar{
        display:flex;
        border-radius: 18px;
        background-color: #3D5A80;
        width: 95%;;
        height:5vmin;
        align-items: center;
        margin-bottom: 3vmin;
    }
    #search-bar input{
        background: none;
        border:none;
        padding:1vmin;
        width:80%;
        color:#fff;
        font-size:1.6vmin;
    }
    #search-bar input::placeholder{
        color:#d3d3d3;
        font-size:1.6vmin;
        
    }
    #search-bar i{
        font-size:1.3vmin;
        margin-left: 5%;
        margin-right: 5%;
    }
    .filter-container{
        display:flex;
        color: #fff;
        width: 95%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3vmin;
    }
    .filter-container i{
        font-size:2.5vmin;
        width:2vmin;
        text-align: center;
    }
    .rfdropmenu{
        height: 5vmin;
        width: 75%;
        padding-left:5%;
        background-color: #3d5a80;
        border:none;
        border-radius:18px;
        color:#fff;
        font-size:1.6vmin;
    }
    #price-range-parent-container h2{
        font-size:2.3vmin;
        
    }
    #price-range-parent-container{
        width:95%;
        margin-bottom:3vmin;
    }
    #price-range-container{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
 
    #price-range-container span input{
        width:90%;
        padding-left:10%;
        background-color: #3d5a80;
        height:5vmin;
        border-radius: 18px;
        border:none;
        color:#fff;
        font-size:1.5vmin;
    }
    #price-range-container span input::placeholder{
        color:#fff;
        font-size:1.5vmin;

    }
    #create-list-btn{
        position: relative;
        margin-top:20px;
        width:92%;
        padding:2vmin;
        background-color: #ee6c4d;
        color:#fff;
        border-radius:18px;
        border:none;
        font-size:1.8vmin;
        text-align: left;
    }
    #search-list-btn{
        margin-top:20px;
        width:92%;
        padding:2vmin;
        background-color: #e0fbfc;
        color:#292929;
        border-radius:18px;
        border:none;
        font-size:1.8vmin;
        display:flex;
        justify-content: space-between;
    }
    
}
@media only screen and (min-width: 1400px) and (max-width:3000px) {
    .grid-container{
        display:grid;
        grid-template-columns: auto auto auto auto auto;
        height:70%;

        padding:5%;
        overflow-y:auto;
        scrollbar-width: none; 
        row-gap: 90px;  
        column-gap: 90px;
        
    }
    .grid-item{
        width:250px;
        height:300px;
        
    }

    .market-grid-item{
        width:100%;
        height:80%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: drop-shadow(0 0 3px #3b5061);
        border-radius: 18px;
    }
    .grid-item h3{
        -webkit-line-clamp: 1;
        overflow: hidden;
        margin-bottom: 10px;
        font-size:14px;
        line-height: 15px;
        font-weight: normal;
    }
    .lower-grid-txt{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .lower-grid-txt h3{
        font-weight: bold;
        font-size:15px;
        letter-spacing:1px;
        margin:0;
    }
    .lower-grid-txt p{
        color:#C8C8C8;
        letter-spacing:1px;
        margin:0;
        font-size:12px;
    }
    
    #filter-settings-btn{
        display:none;
    }
    #lrf-back-btn{
        display:none;
    }
    #resource-filter-heading{
        font-size:35px;
        letter-spacing: 1px;
        line-height: 55px;
    }
    #search-bar{
        display:flex;
        border-radius: 18px;
        background-color: #3D5A80;
        width: 95%;;
        height:5vh;
        align-items: center;
        margin-bottom: 5%;
    }
    #search-bar input{
        background: none;
        border:none;
        padding:20px;
        width:80%;
        color:#fff;
        font-size:18px;
    }
    #search-bar input::placeholder{
        color:#d3d3d3;
        font-size:18px;
        
    }
    #search-bar i{
        margin-left: 5%;
        margin-right: 5%;
    }
    .filter-container{
        display:flex;
        color: #fff;
        width: 95%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5%;
    }
    .filter-container i{
        font-size:28px;
        width:28px;
        text-align: center;
    }
    .rfdropmenu{
        height: 5vh;
        width: 75%;
        padding-left:5%;
        background-color: #3d5a80;
        border:none;
        border-radius:18px;
        color:#fff;
        font-size:18px;
    }
    #price-range-parent-container h2{
        font-size:24px;
        letter-spacing: 1px;
    }
    #price-range-parent-container{
        width:95%;
        margin-bottom:5%;
    }
    #price-range-container{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
 
    #price-range-container span input{
        width:90%;
        padding-left:10%;
        background-color: #3d5a80;
        height:5vh;
        border-radius: 18px;
        border:none;
        color:#fff;
        font-size:18px;
    }
    #price-range-container span input::placeholder{
        color:#fff;
        font-size:18px;

    }
    #create-list-btn{
        position: relative;
        
        width:92%;
        padding:2vmin;
        background-color: #ee6c4d;
        color:#fff;
        border-radius:18px;
        border:none;
        font-size:20px;
        text-align: left;
    }
    #search-list-btn{
        width:92%;
        padding:2vmin;
        background-color: #e0fbfc;
        color:#292929;
        border-radius:18px;
        border:none;
        font-size:20px;
        margin-bottom: 30px;
        display:flex;
        justify-content: space-between;
    }
}
@media only screen and (min-width:1771px) and (max-width: 2400px){
    .grid-container{
        display:grid;
        grid-template-columns: auto auto auto auto;
        height:80%;
     
        padding:5%;
        overflow-y:auto;
        scrollbar-width: none; 
        row-gap: 90px;  
        column-gap: 90px;
        
    }
    .grid-item{
        width:240px;
        height:270px;
    }
}
@media only screen and (min-width:1400px) and (max-width:1771px){
    .grid-container{
        display:grid;
        grid-template-columns: auto auto auto ;
        height:80%;
      
        padding:5%;
        overflow-y:auto;
        scrollbar-width: none; 
        row-gap: 90px;  
        column-gap: 90px;
        
    }
    .grid-item{
        width:250px;
        height:270px;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1400px) {
    .grid-container{
        display:grid;
        grid-template-columns: auto auto auto;
        height:90%;
     
        padding:5%;
        overflow-y:auto;
        scrollbar-width: none; 
        row-gap: 50px;  
        column-gap: 50px;
        
    }
    .grid-item{
        width:200px;
        height:250px;
    
    }
    .market-grid-item{
        width:100%;
        height:80%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: drop-shadow(0 0 3px #3b5061);
        border-radius: 18px;
    }
    .grid-item h3{
        -webkit-line-clamp: 1;
        overflow: hidden;
        margin-bottom: 10px;
        font-size:13px;
        font-weight: normal;
        line-height: 14px;
    }
    .lower-grid-txt{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .lower-grid-txt h3{
        font-weight: bold;
        font-size:15px;
        letter-spacing:1px;
        margin:0;
    }
    .lower-grid-txt p{
        color:#C8C8C8;
        letter-spacing:1px;
        margin:0;
        font-size:10px;
    }
    #filter-settings-btn{
        display:none;
    }
    #lrf-back-btn{
        display:none;
    }
    #resource-filter-heading{
        font-size:40px;
        line-height: 35px;
    }
    #search-bar{
        display:flex;
        border-radius: 18px;
        background-color: #3D5A80;
        width: 95%;;
        height:5vh;
        align-items: center;
        margin-bottom: 5%;
    }
    #search-bar input{
        background: none;
        border:none;
        padding:12px;
        width:80%;
        color:#fff;
        font-size:20px;
    }
    #search-bar input::placeholder{
        color:#d3d3d3;
        font-size:20px;
        
    }
    #search-bar i{
        margin-left: 5%;
        margin-right: 5%;
    }
    .filter-container{
        display:flex;
        color: #fff;
        width: 95%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5%;
    }
    .filter-container i{
        display:none;
    }
    .rfdropmenu{
        height: 5vh;
        width: 100%;
        padding-left:5%;
        background-color: #3d5a80;
        border:none;
        border-radius:18px;
        color:#fff;
        font-size:20px;
    }
    #price-range-parent-container h2{
        font-size:24px;
    }
    #price-range-parent-container{
        width:95%;
        margin-bottom:5%;
    }
 
    #price-range-container span input{
        width:90%;
        padding-left:10%;
        background-color: #3d5a80;
        height:5vh;
        border-radius: 18px;
        border:none;
        color:#fff;
        font-size:20px;
    }
    #price-range-container span input::placeholder{
        color:#fff;
        font-size:20px;

    }
    #create-list-btn{
        margin-top:36px;
        width:92%;
        padding:8%;
        background-color: #ee6c4d;
        color:#fff;
        border-radius:18px;
        border:none;
        font-size:18px;
        display:flex;
        justify-content: space-between;
    }

    #search-list-btn{
        margin-top:36px;
        width:92%;
        padding:8%;
        background-color: #e0fbfc;
        color:#292929;
        border-radius:18px;
        border:none;
        font-size:18px;
        display:flex;
        justify-content: space-between;
    }
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
    .grid-container{
        display:grid;
        grid-template-columns: auto auto auto;
        width:85%;
        height:80%;
        padding:5%;
        overflow-y:auto;
        scrollbar-width: none; 
        row-gap: 5vmin;  
        column-gap: 5vmin;
        border-top: 1px solid #293241;
    }
    .grid-item{
        width:20vmin;
        height:35vmin;
    
    }
    #right-resources-items-container{
        border-left:none;
        padding-left:5%;
    }
    .market-grid-item{
        width:100%;
        height:70%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: drop-shadow(0 0 3px #3b5061);
        border-radius: 18px;
    }
    .grid-item h3{
        -webkit-line-clamp: 2;
        overflow: hidden;
        line-height: 2vmin;
        margin-bottom: 2vmin;
        font-size:1.8vmin;
        font-weight: normal;
    }
    .lower-grid-txt{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .lower-grid-txt h3{
        font-weight: bold;
        font-size:2.5vmin;
        line-height: 3vmin;
        letter-spacing:1px;
        margin:0;
        width:6vmin;
    }
    .lower-grid-txt p{
        color:#C8C8C8;
        line-height: 2.5vmin;
        margin:0;
        font-size:1.5vmin;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow:hidden;
    }
    #filter-settings-btn{
        font-size: 4vmin;
        margin:5%;
        color:#293241;
    }
    #filter-settings-btn:hover{
        cursor: pointer;
    }
    #lrf-back-btn{
        display:block;
        color:#fff;
        position:absolute;
        font-size:4vmin;
        top: 1vmin;
        right:0;
    }
    #lrf-back-btn:hover{
        cursor:pointer;
    }
    #right-resources-items-container{
        width:100%;
    }
    #left-resources-filter-container{
        position:absolute;
        display:none;
        width:70%;
        height:65%;
        top:15%;
        left:15%;
        z-index: 1000;
        background-color: #293241;
        border-top:none;
        filter: drop-shadow(0 0 30px #000);
        
    }
    #lrf-container{
        position:relative;
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }
    #resource-filter-heading{
        font-size:35px;
        line-height: 40px;
        color:#e0fbfc;
    }
    #search-bar{
        display:flex;
        border-radius: 18px;
        background-color: #3D5A80;
        width: 85%;
        height: 3vh;
        align-items: center;
        margin-bottom: 5%;
    }
    #search-bar input{
        background: none;
        border:none;
        padding:30px;
        width:80%;
        color:#fff;
        font-size:14px;
    }
    #search-bar input::placeholder{
        color:#d3d3d3;
        font-size:14px;
        
    }
    #search-bar i{
        display:block;
        margin-left:20px;
    }
    .filter-container{
        display:flex;
        color: #fff;
        width: 85%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5%;
    }
    .filter-container i{
        font-size:20px;
        width:28px;
        text-align: center;

    }
    .rfdropmenu{
        height: 3vh;
        width: 90%;
        padding-left:5%;
        background-color: #3d5a80;
        border:none;
        border-radius:18px;
        color:#fff;
        font-size:14px;
    }
    #price-range-parent-container h2{
        font-size:24px;
        line-height: 35px;
        color:#e0fbfc;
    }
    #price-range-parent-container{
        width:85%;
        margin-bottom:5%;
    }
 
    #price-range-container span input{
        width:90%;
        padding-left:10%;
        background-color: #3d5a80;
        height:3vh;
        border-radius: 18px;
        border:none;
        color:#fff;
        font-size:14px;
    }
    #price-range-container span input::placeholder{
        color:#fff;
        font-size:14px;

    }
    #create-list-btn{
        position: relative;
        margin-top:3vmin;
        width:85%;
        padding: 10px;
        
        background-color: #ee6c4d;
        color:#fff;
        border-radius:18px;
        border:none;
        font-size:18px;
        display:flex;
        justify-content: space-between;
    }
    #search-list-btn{
        margin-top:2vmin;
        width:85%;
        padding:10px;
        background-color: #e0fbfc;
        color:#292929;
        border-radius:18px;
        border:none;
        font-size:18px;
        display:flex;
        justify-content: space-between;
    }
    
}
@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .grid-container{
        display:grid;
        grid-template-columns: auto auto auto;
        height:75%;
        padding:5%;
        width:85%;
        overflow-y:auto;
        scrollbar-width: none; 
        row-gap: 70px;  
        column-gap: 50px;
        border-top:1px solid black;
    }
    .grid-item{
        width:150px;
        height:200px;
    
    }
    #right-resources-items-container{
        border-left:none;
        padding-left:5%;
    }
    .market-grid-item{
        width:100%;
        height:80%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: drop-shadow(0 0 3px #3b5061);
        border-radius: 18px;
    }
    .grid-item h3{
        -webkit-line-clamp: 1;
        overflow: hidden;
        line-height: 15px;
        margin-bottom: 5px;
        font-size:12px;
        font-weight: normal;
    }
    .lower-grid-txt{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
    .lower-grid-txt h3{
        font-weight: bold;
        font-size:13px;
        letter-spacing:1px;
        margin:0;
    }
    .lower-grid-txt p{
        color:#C8C8C8;
        letter-spacing:1px;
        margin:0;
        font-size:11px;
    }
    #filter-settings-btn{
        font-size: 30px;
        margin:5%;
        color: #292929;
    }
    #filter-settings-btn:hover{
        cursor: pointer;
    }
    #lrf-back-btn{
        display:block;
        color:#fff;
        position:absolute;
        font-size:20px;
        top: 6%;
        right:10%;
    }
    #lrf-back-btn:hover{
        cursor:pointer;
    }
    #right-resources-items-container{
        width:100%;
    }
    #left-resources-filter-container{
        position:absolute;
        display:none;
        width:70%;
        height:70%;
        top:15%;
        left:15%;
        z-index: 1000;
        background-color: #293241;
        border-top:none;
        filter: drop-shadow(0 0 30px #000);
        
    }
    #lrf-container{
        position:relative;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    #resource-filter-heading{
        font-size:35px;
        line-height: 40px;
        color:#e0fbfc;
    }
    #search-bar{
        display:flex;
        border-radius: 18px;
        background-color: #3D5A80;
        width: 85%;
        height: 3vh;
        align-items: center;
        margin-bottom: 5%;
    }
    #search-bar input{
        background: none;
        border:none;
        padding:30px;
        width:80%;
        color:#fff;
        font-size:14px;
    }
    #search-bar input::placeholder{
        color:#d3d3d3;
        font-size:14px;
        
    }
    #search-bar i{
        display:block;
        margin-left:20px;
    }
    .filter-container{
        display:flex;
        color: #fff;
        width: 85%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5%;
    }
    .filter-container i{
        font-size:20px;
        width:28px;
        text-align: center;

    }
    .rfdropmenu{
        height: 3vh;
        width: 90%;
        padding-left:5%;
        background-color: #3d5a80;
        border:none;
        border-radius:18px;
        color:#fff;
        font-size:14px;
    }
    #price-range-parent-container h2{
        font-size:24px;
        line-height: 35px;
        color:#e0fbfc;
    }
    #price-range-parent-container{
        width:85%;
        margin-bottom:5%;
    }
 
    #price-range-container span input{
        width:90%;
        padding-left:10%;
        background-color: #3d5a80;
        height:3vh;
        border-radius: 18px;
        border:none;
        color:#fff;
        font-size:14px;
    }
    #price-range-container span input::placeholder{
        color:#fff;
        font-size:14px;

    }
    #create-list-btn{
        position: relative;
        margin-top:2vmin;
        width:85%;
        padding:10px;
        
        background-color: #ee6c4d;
        color:#fff;
        border-radius:18px;
        border:none;
        font-size:18px;
        display:flex;
        justify-content: space-between;
    }
    #search-list-btn{
        margin-top:2vmin;
        width:85%;
        padding:10px;
        background-color: #e0fbfc;
        color:#292929;
        border-radius:18px;
        border:none;
        font-size:18px;
        display:flex;
        justify-content: space-between;
    }
}