html{
    /* background: linear-gradient(90deg, #523249, #323952, #523249); */
    background-color:#fff;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100vw;
    scroll-behavior:smooth;
    scrollbar-width: thin;
    color:#fff;
    overflow-x:hidden;
}
body{
    margin:0;
    padding: 0;
    max-width: 100vw;
    
}
main{
    margin:0;
}

header{
    font-size:3.5vmin;
    text-align: center;
    font-weight: bolder;
    color:#e0fbfc ;
    
}
.nav-container{
    position: fixed;
    width:100%;
    background-color:RGB(41, 50, 65,1);
    height:auto;
    padding-top:1.5vmin;
    padding-bottom:2vmin;
    z-index: 1;
}
#nav-container-sticky{
    position:sticky;
}
.nav-container div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-container div ul{
    display:flex;
    justify-content: space-evenly;
    width:65%;
}
.nav-container div ul li{
    list-style-type: none;
    a{
        color:#fff;
        text-decoration: none;
        font-size:2.5vmin;
        text-align: center;
    }
}
.nav-logo{
    width:8vmin;
    height:6.5vmin;
    margin-left:10vmin;
}
.nav-bookmarks{
    width:3vmin;
}

.content-banner{
    margin-top:15vh;
    margin-bottom: 15vh;
    width:100%;
    height:auto;
}

#homepage-background-container{
    width:100%;
    height:100vh;
    background: url("/code/images/background-index.jpg") repeat fixed 100%;
    background-size:cover;
    background-position: center;
    margin-bottom:15vh;
}
#homepage-introduction{
    width:35vw;
    height:auto;
    font-size:5vmin;
    position:absolute;
    top:35vh;
    left:60vw;
    text-align: left;
    line-height: 7vh;
}

#scroll-top{
    position:fixed;
    z-index:1;
    bottom:0;
    right:0;
    opacity: 0;
}
.content-container{
    
    width:95%;
    padding-bottom:5vmin;
    padding-top:5vmin;
    position:sticky;
    justify-content: center;
    margin-left:3vw;
    margin-right:3vw;
}
#index-attributes-container{
    display:flex;
    justify-content: space-evenly;

}
.single-attribute{
    display:block;
    text-align: center;
}
.single-attribute i{
    color:#fff;
    font-size:4vmin;
    background-color: #ee6c4d ;
    padding:2.5vmin;
    border-radius: 50%;
}
.single-attribute .fa-piggy-bank{
    background-color: #293241;
}
.single-attribute:hover{
    animation: scale-animation 1.5s ease infinite;
}
.single-attribute p,h1{
    text-align: center;    
    font-size:1.8vmin;
    width:25vmin;
    color:#000;
    line-height:3vmin;
}
.single-attribute p{
    color:#323952  ;
    font-size:1.7vmin;
}
#index-image-track-background{
    width:80%;
}
#index-image-track-background{
    display:flexbox;
    position: relative;

    justify-self: center;
}
#img-track-banner{
    background-color: #293241;
}
.outer-track-container{
    width:100%;
    height:50vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.inner-track-container{
    width:90%; 
    height:80%;
    display:flex;
    gap: 8vw;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-width: none;
    
    
}
.image-track-arrows{
    font-size:1vmin;
    background-color:#ee6c4d;
    padding:1vmin;
    border-radius: 50%;
    cursor: pointer;
}
.image-track-arrows:hover{
    animation: scale-animation 1s ease infinite;
}
#track-right-arrow{
    transform: scaleX(-1);
}
.inner-track-data-container{
    background: linear-gradient(#3d5a80 30%, #98c1d9da 30%);
    border-radius: 5%;
    width: 30vmin;
    height:40vmin;
    flex-shrink: 0;
    margin-left:2vmin;
    margin-right:2vmin;
    display: flex;
    flex-direction: column;
    position:relative;
    align-items: center;
    
}
.inner-track-data-container:hover{
    cursor: pointer;
    animation: experimental-drop-shadow 2s ease forwards;
}
.inner-track-data-container h2{
    font-size:3vmin;
    line-height:3vmin;
    margin-bottom:0vmin;
}
.inner-track-container h3{
    max-width: 60%;
    font-size:1.5vmin;
    color: #293241;
    text-align: center;
}
.inner-track-container div ul li{
    font-size:1.7vmin;
    padding-right:3vmin;
    color: #E0FBFC;
    line-height: 2vmin;
}
.portrait-identifier-container{
    width:100%;
    height:45%;
    display:flex;
    justify-content: center;
    align-items: end;
}
.portrait{
    width:45%;
    height:80%;
    background-size: cover;
    background-position: center;
    border-radius:15%;
}

h2{
    color: #fff;
    line-height: 3vmin;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size:2.5vmin;
}
h3{
    color: #d9d9d9;
    line-height: 1.8vmin;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size:1.5vmin;
}

.view-more{
    text-align: center;
    
}
#view-more-tutor{
    font-size: 1.7vmin;
    text-decoration: none;
    color: #fff;
    background-color: #ee6c4d  ;
    padding:1vmin;
    border-radius: 9px;
    
}
#view-more-tutor:hover{
    background-color: #ee6d4db2;
    cursor:pointer;
}
#hiw-banner{
    margin-bottom: 0; 
    background-color: #fff;
}
#hiw-text-container{
    width: 100%;
    height: 50vh;
    align-content: center;
}
#hiw-text-container header{
    font-size:4vmin;
    letter-spacing: -0.2vmin;
    color: #000;
}
#hiw-p{
    text-align: center;
    font-size:2vmin;
    color: #293241 ;
    line-height: 3.5vmin;
    margin: 5vmin 25% 5vmin 25%;
}
footer{
    border-top: 1px solid #3b5061;
    background-color: #293241;
}
.f-top{
    display:flex;
    justify-content: space-evenly;
    padding: 3vh 0 3vh 0;
}
.f-links{
    line-height: 3vmin;
}
.f-links li{
    list-style-type: none;
}
.f-links li a{
    text-decoration: none;
    color:#d3d3d3;
    font-size: 1.5vmin;
    
}
.f-links li a:hover{
    font-weight: bold;
}
#f-social-media h3{
    max-width: 20vw;
    word-wrap: break-word;
}
#f-social-media-container{
    display: flex;
    gap: 1vw;
}
.social-media-image{
    max-width: 2vmin;
}
.f-bottom{
    margin: 0 20vw 0 20vw;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #fff;
}

.display-container-margin{
    height:87vh;
    width: 90%;
}

#tutors-page{
    background-color: #293241 ;
}
#ss-container{
    justify-content: space-between;
    display:flex;
    position: relative;
    width:100%;
   
}
#au-ss-map{
    width:60%;
}

#features path{
    fill:#98c1d9;   
    stroke:#ffffff; 
    stroke-width:.5;
    width: 70vmin;
}
#features path:hover{
    fill: #ee6c4d;
    cursor: pointer;
}
#typewriter-state-container{
    position: absolute;
    right:15%;
    top:45%;
    text-align: right;
}
#typewriter-state-container h5{
    color:#98c1d9; 
    font-size: 2.3vmin;
    margin:0 0 2vmin 0;
}
#typewriter-select{
    margin:0 auto;
    color:#e0fbfc;
    font-size: 2.7vmin;
    overflow: hidden;
    border-right: 1px solid #ee6c4d;
    white-space: nowrap;
    
}
.typewriter-animate{
    animation:
    typing 0.8s steps(40, end),
    blink-caret .75s step-end infinite;
}
#typewriter-state-container p{
    margin:2vmin 0 0 0;
    color:#98c1d9; 
    font-size:1.2vmin;

}

#top-tutor-container{
    align-content: center;
    width:95%;
    margin-left: 2.5%;
}
#ttc-tutors{
    width: 80%;
    display:flexbox;
    justify-self: center;
}

#tutor-iso-display-container{
    background-color: #fff;
    padding-top:5vh;
    padding-bottom: 5vh;
    padding-right:15%;
    padding-left:15%;
}
.list-right-container{
    
    width:30%;
    height:80%;
    margin:5% 0 5% 0;
    overflow:hidden;
    justify-items: center;
    position:relative;

}
.list-left-container{
    width:60%;
    height:80%;
    margin:5% 5% 5% 5%;
    overflow:hidden;
    text-align: right;

}
.fa-star{
    color:#202020;
    font-size:1vmin;
    letter-spacing: -0.3vmin;
}
.star-checked{
    color:#ffa600;
    
}

#top-tdc{
    margin: 5%;
    display:flex; 
}
#left-tdc{
    width:95%;
    max-width: 95%;
}

#top-tdc header{
    color:#000;
    text-align:left;
    font-weight:700;
    font-size:3.5vmin;
}
#top-tdc header2{
    font-size:3.2vmin;
    color: #5c5c5c;
    font-weight:700;
}
#tutor-key{
    margin-top:2vmin;
}
#tutor-key header3{
    color: #000;
    font-weight:500;
}
.t-icon-desc{
    text-align: left;
    margin-top:1vmin;
    font-size:1.8vmin;
    display:flex;   
}
.t-icon-desc .fa-star{
    font-size:1.3vmin;
}
.t-icon-desc div{
    max-width: 2vmin;
    margin-right:2vmin;
}
.t-icon-desc i{
    color: #000;
    
}
#tutor-key-book{
    padding: 1.5vmin;
    width:14vmin;
    display:flexbox;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    background-color:#98c1d9;
    border:none;
    color: #e0fbfc;
    font-size:1.7vmin;
}
button:hover{
    cursor: pointer;
    font-weight:bold;
}
#bookmark-tdesc{
    font-size:2.4vmin;
    color:#ee6c4d;
    
}
#desc-book-ellip{
    display:flex;
    margin-top:1.5vmin;
    width:20vmin;
    justify-content: space-between;
    align-items: center;
    :hover{
        cursor: pointer;
    }
}
#desc-ellipsis{
    position:static;
    color: #000;
}
#tdc-icons{
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:2vmin;
    font-size:2.2vmin;
    
}
#tdc-icons i,iconify-icon:hover{
    cursor: pointer;
}
#tdc-ratings{
    display:flexbox;
    gap:0.7vmin;
    justify-content: left;
    align-items: center;
}
#bot-tdc{
    border-top:3px solid #000;
    margin:5%;
    display:flex;
    justify-content: space-between;
}
.tutor-rating-atr{
    padding:2vmin;
    max-width:6vw;
    background-color: #98c1d9;
    border-radius: 18px;
    margin-top: 3%;
    color:#3d5a80;
}
#desc-tdc{
    width: 90%;
    max-width:90%;
    margin:5%;
    line-height: 3vmin;
    color:#000;
    font-size:1.6vmin;
}
#dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 14vmin;
    display: none; 
    z-index: 1000;
    padding: 0.5vmin;
}

#dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#dropdown-menu ul li {
    padding: 8px 10px;
    cursor: pointer;
    font-size: 1.4vmin;
    color:#000;
    
}
#dropdown-menu ul li a {
    text-decoration: none;
    color:#000;
}

#dropdown-menu ul li:hover {
    background-color: #d9d9d9;
}

.hidden {
    display: none;
}

#report-overlay{
    position:absolute;
    filter: drop-shadow(0 0 1vmin #000);
    height: 65vmin;
    width:60vmin;
    background-color: #98c1d9 ;
    z-index:1000;
    border-radius: 12px;
    top:20%;
    left:35%;
    
}
#report-bottom{
    height:70%;
    width:100%;
    background-color: #e0fbfc;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
#bottom-report-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap: 2vmin;
}
#dropmenu-report {
    font-size: 1.9vmin;
    border: none;
    border-bottom: 1px solid #000;
    background: none;
    padding:3vmin 1vmin;
    text-align: center;
    width: 70%; 
    margin-left:30%;
    margin-right:30%;
}

#dropmenu-report option{
    padding:0;
}
.report-details{
    width:70%;
    font-size:1.7vmin;
    background-color: #e0fbfc;
    resize:none;
    
}
#report-submit-cancel{
    display:flex;
    justify-content: space-between;
    width:70%;
    color:#000;

}
.report-btn{
    border:none;
    background-color:#293241;
    border-radius:50%;
    width:5vmin;
    height:5vmin;

}
.report-btn i{
    color:#98c1d9;
    font-size:2vmin;
}
#report-top{
    height:25%;
    max-height: 25%;
    width:100%;
    text-align: center;
}
#report-top p{
    font-size:5vmin;
    margin-left:20%;
    margin-right:20%;
}
#right-iso-tdc{
    display:flex;
    flex-direction: column;
}
#right-tdc-img{
    align-self: center;
    width:15vmin;
    height:15vmin;
    margin-bottom:2vmin;
    border-bottom: 1vmin solid #ee6c4d;
    border-radius: 20px;
}
#tdc-iso-icons{
    display:flex;
    width:25vmin;
    justify-content: space-evenly;
    font-size:2.2vmin;
}

#resources-container{
    display:flex;
    width:100%;
}
#left-resources-filter-container{
    border-top:1px solid #98C1D9;
    width: 25%;
    
}
#right-resources-items-container{
    border-top:1px solid #98C1D9;
    border-left:1px solid #98C1D9;
    background-color:#1c232f;
    width: 75%;
}
#lrf-container{
    margin:10%;
    height:90%;
    position: relative;
}


.grid-item:hover{
    cursor: pointer;
}
#price-range-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#create-list-btn i{
    position: absolute;
    right:5%;
}
#price-range-container span{
    width: 40%;
}
#price-range-container span input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
#price-range-container span input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
textarea:focus, input:focus, select:focus{
    outline: none;
}

#landscape-restriction{
    z-index: 1000;
    position:absolute;
    width:100%;
    height:100%;
    display:none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}
#landscape-restriction div{
    padding:5%;
    max-width:25%;
    border-radius: 18px;
    background-color: #ee6c4d;
    color:#fff;
    font-size:5vmin;
    letter-spacing: 2px;
}

@media only screen and (min-width:0px) and (max-width:700px){
    #homepage-introduction{
        font-size: 4vmin;
        line-height: 8vmin;
        top:40%
    }
    #index-attributes-container{
        flex-direction: column;
        align-items: center;
        gap: 5vh;

    }
    .single-attribute{
        display: flex;

        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    .single-attribute i{
        font-size:7vmin;
        margin:0;
        height:0%;
        }
    .single-attribute h1{
        font-size:large;
        line-height:3vh;
    }
    .single-attribute p{
        display:none;
    }
    #index-image-track-background div header{
        font-size:5vmin;
        margin-top:5%;
    }
    .outer-track-container{
        height:55vh;
        
    }
    .portrait-identifier-container{
        height:35%;
    }    
    .portrait{
        width:22vmin;
        height:22vmin;
    }
    #index-image-track-background{
        width:95%;
        height: 70vh;
    }
    .inner-track-data-container div ul li{
        font-size:3.5vmin;
        line-height: 5vmin;
        margin-top:0;
    }
    .inner-track-data-container h2{
        font-size:4.5vmin;
        line-height: 5vmin;
        margin:2% 5% 0 5%;
        text-align: center;

    }
    .inner-track-data-container h3{
        font-size:3vmin;
        line-height: 4vmin;
        max-width: 90%;
    }
    .inner-track-data-container:hover{
        animation:none;
    }
    .inner-track-data-container{
        width:50vw;
        height:80%;
        background: linear-gradient(#3d5a80 25%, #98c1d9da 25%);
    }
    #view-more-tutor{
        font-size:3vmin;
        padding:2vmin;
    }
    .image-track-arrows{
        font-size:3vmin;
        margin:2%;
    }

    #hiw-text-container header{
        font-size:6vmin;
        line-height: 6vmin;
    }
    #hiw-p{
        font-size:4vmin;
        margin: 5vmin 10% 5vmin 10%;
        line-height: 6vmin;
        letter-spacing: 1px;
    }
    .nav-container div ul li a{
        font-size:4vmin;
    }
    .nav-container div ul{
        width:75%;
    }
    .nav-logo{
        width:10vmin;
        height:8.5vmin;
    }
    .f-links h2{
        font-size:4vmin;
    }
    .f-links li a{
        font-size:3vmin;
        line-height: 7vmin;
    }
    #f-social-media{
        display:none;
    }
    #ss-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #au-ss-map{
        width:80%;
    }
    #typewriter-state-container{
        position: initial;
        height:30vh;
        margin-top:5%;
    }
    #typewriter-state-container h5{
        font-size:5vmin;
    }
    #typewriter-select{
        font-size:7vmin;
    }
    #typewriter-state-container p{
        font-size:3vmin;
    }

    
}
@media screen and ( max-width :1024px) and (orientation: landscape){
    #landscape-restriction{
        display:flex;
    }
}
@keyframes typing{
    from{ width:0}
    to {width:100%}
}
@keyframes blink-caret{
    from, to {border-color:transparent}
    50% { border-color: #ee6c4d;}
}

@keyframes scale-animation{
    0%{scale:0.98;}
    50%{scale:1;}
    100%{scale:0.98;}
}
@keyframes white-drop-shadow{
    0%{filter:drop-shadow(0 0 0vmin #fff)}
    50%{filter:drop-shadow(0 0 0.15vmin #fff)}
    100%{filter:drop-shadow(0 0 0vmin #fff)}

}
@keyframes red-drop-shadow{
    0%{filter:drop-shadow(0 0 0vmin #fff)}
    100%{filter:drop-shadow(0 0 0.2vmin #fff)}

}

@keyframes experimental-drop-shadow{
    0%{filter:drop-shadow(0 0 0vmin #3b5061 )}
    100%{filter:drop-shadow(0 0 2vmin #3b5061 )}

}

@keyframes gradient-card{
    0%{background-size:100%}
    100%{background-size:102%}

}
