#ftc-tutors{
    justify-items: center;

}
#filter-tutor-container{
    width:80%;
    
}
#filter-dropmenu-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:92.5%;
    height:8%;
    margin: 2% 2.5% 0 2.5%;
}

.filter-dropmenu{
    background-color:#3d5a80;
    padding: 1vmin;
    border-radius: 12px;
    border: 0.1vmin solid #fff;
    overflow: hidden;
}
.filter-dropmenu button{
    border:none;
    background: none;
    color: #ee6c4d;   
}
.dropmenu{
    color: #e0fbfc ;
    background: none;
    border: none;
}
.dropmenu option{
    background-color:#3d5a80c7;
}
#tutor-search{
    background-color:#fff;
    border: none;
    color:#8b8b8b;
    text-align: right;
    border-radius: 9px;
    }
#tsc-container{
    float: left;
    position: relative;
    margin: 2.5% 0 2.5% 2.5%;
    width:30%;
    height:80%;
    text-align: center;

}
#tutor-select-container{
    width:100%;
    height:95%;
    overflow-y: scroll;
    scrollbar-width: thin;
    border-radius: 12px;
    scrollbar-color: #98c1d9 #e0fbfc;
    overflow-x:hidden;
}
#left-tdc{
    width:95%;
    max-width: 95%;
}
#tutor-select{
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
}
.tutor-list{
    display:flex;
    border-radius: 12px;
    background: linear-gradient(90deg, #98c1d9 70%, #3d5a80 30%);
    background-size:100%;
}
.tutor-list:hover{
    cursor: pointer;
    animation: gradient-card 0.3s ease-in forwards;
}
#tutor-display-container{
    float:left;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-y:auto;
    scrollbar-color: #98c1d9 #e0fbfc;
    height:73%;
    width:60%;
    margin: 4% 0 2.5% 2.5%;
}
#top-tdc{
    margin: 5%;
    display:flex; 
}
.fa-bars{
    display:none;
}
#search-list-btn{
    display:none;
}
#top-tdc header{
    color:#000;
    text-align:left;
}
#top-tdc header2{
    color: #5c5c5c;
}
#tutor-key{
    margin-top:2vmin;
}
#tutor-key header3{
    color: #000;
    font-weight:500;
}
.t-icon-desc{
    text-align: left;
    display:flex;   
}
.t-icon-desc i{
    color: #000;
}
#tutor-key-book{
    display:flexbox;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    background-color:#98c1d9;
    border:none;
    color: #e0fbfc;

}
button:hover{
    cursor: pointer;
    font-weight:bold;
}
#bookmark-tdesc{
    font-size:2.4vmin;
}
#desc-book-ellip{
    display:flex;
    justify-content: space-between;
    align-items: center;
    :hover{
        cursor: pointer;
    }
}
#desc-ellipsis{
    position:static;
    color: #000;
}
.list-portrait{
    border-bottom: 3px solid #ee6c4d;
    border-radius: 18px;
    display:block;
}
.list-left-container h2{
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #000 ;
}
.list-left-container h3{
    -webkit-line-clamp: 2;
    color:#323952;
}
.list-left-container h4{
    color: #000;
    font-weight:normal;
}
.list-left-container p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow:hidden;
    color:#293241;
}


#tdc-icons{
    display:flex;
    flex-direction: column;
    text-align: center;
    
}
#tdc-icons i,iconify-icon:hover{
    cursor: pointer;
}
#tdc-ratings{
    display:flexbox;
    gap:0.7vmin;
    justify-content: left;
    align-items: center;
}
#bot-tdc{
    border-top:3px solid #000;
    margin:5%;
    display:flex;
    justify-content: space-between;
}
.tutor-rating-atr{
    background-color: #98c1d9;
    border-radius: 18px;
    color:#3d5a80;
}
#desc-tdc{
    width: 90%;
    max-width:90%;
    margin:5%;
    line-height: 3vmin;
    font-size:1.6vmin;
}
@media only screen and (min-width:2400px){
    .filter-dropmenu button{
        font-size: 1.4vmin;   
    }
    .dropmenu{
        color: #e0fbfc ;
        background: none;
        border: none;
        font-size: 1.4vmin;
        height:2vmin;
    }
    #tutor-search{
        width:16vmin;
        height:2vmin;
        font-size:1.3vmin;
    }
   
    .tutor-list{
        width:95%;
        height:28vh;
        margin:5%;
    }
    #top-tdc header{
        font-weight:700;
        font-size:3vmin;
        letter-spacing: 1px;
    }
    #top-tdc header2{
        font-size:2.7vmin;
        font-weight:700;
    }
    .t-icon-desc{
        margin-top: 1.4vmin;
        font-size: 1.8vmin;
    }
    .t-icon-desc .fa-star{
        font-size: 1.2vmin;
    }
    .t-icon-desc div{
        width:3vmin;
        margin-right:3vmin;
    }
    #tutor-key-book{
        padding: 1.6vmin;
        width:13vmin;
        font-size:1.5vmin;
        letter-spacing: 2px;
    }
    #bookmark-tdesc{
        font-size:2vmin;
    }
    #desc-book-ellip{
        margin-top:2vmin;
        width:18vmin;
    }
    #tdc-icons{
        gap:2vmin;
        font-size:2vmin;
    }
    #gmail-icon{
        font-size:1.5vmin;
    }
    .tutor-rating-atr{
        padding: 1vmin;
        max-width: 15vmin;
        font-size:1.4vmin;
        margin-top: 3%;
    }
    #bot-tdc{
        display:flex;
        max-width: 90%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .list-portrait{
        width:9vmin;
        height:9vmin;
        border-bottom: 0.5vmin solid #ee6c4d;
        border-radius: 18px;
        margin-bottom: 2vmin;
        display:block;
    }
    .list-left-container h2{
        font-size:3vmin;
        margin-bottom:0;
        margin-top:0;
        line-height: 3.3vmin;
        padding-top:1vmin;
    }

    .list-left-container h3{
        font-weight: normal;
        margin-top:0.5vmin;
        font-size:1.4vmin;
    }
    .list-left-container h4{
        font-size: 2.2vmin;
        margin-bottom: 0;

    }
    .list-left-container p{
        font-size: 1.4vmin;
        letter-spacing: 0.1vmin;
        line-height: 2vmin;
    }
    #desc-tdc{
        width: 90%;
        max-width:90%;
        margin:5%;
        line-height: 3vmin;
        font-size:1.8vmin;
    }
    .fa-bars{
        font-size:0px;
    }
}
@media only screen and (min-width:1800px) and (max-width:2400px){
    .fa-bars{
        font-size:0px;
    }
    .filter-dropmenu button{
        font-size: 20px;   
    }
    .dropmenu{
        color: #e0fbfc ;
        background: none;
        border: none;
        font-size: 20px;
        height:30px;
    }
    #tutor-search{
        width:200px;
        height:30px;
        font-size:18px;
    }
   
    .tutor-list{
        width:400px;
        height:350px;
        margin:5%;
    }
    #top-tdc header{
        font-weight:700;
        font-size:50px;
        letter-spacing: 1px;
    }
    #top-tdc header2{
        font-size:45px;
        font-weight:700;
    }
    .t-icon-desc{
        margin-top: 30px;
        font-size: 25px;
    }
    .t-icon-desc .fa-star{
        font-size: 18px;
    }
    .t-icon-desc div{
        width:50px;
        margin-right:25px;
    }
    #gmail-icon{
        font-size:25px;
    }
    #tutor-key-book{
        padding: 20px;
        width:230px;
        font-size:24px;
        letter-spacing: 2px;
    }
    .list-portrait{
        width:80px;
        height:80px;
        border-bottom: 3px solid #ee6c4d;
        border-radius: 18px;
        margin-bottom: 20px;
        display:block;
    }
    .list-left-container h2{
        font-size: 30px;
        margin-bottom:0;
        margin-top:0;
        line-height: 30px;
        padding-top:20px;
    }

    .list-left-container h3{
        font-weight: normal;
        margin-top:0.5vmin;
        font-size:20px;
    }
    .list-left-container h4{
        font-size: 24px;
        margin-bottom: 0;

    }
    .list-left-container p{
        font-size: 18px;
        letter-spacing: 0.1vmin;
        line-height: 2vmin;
        -webkit-line-clamp: 3;
    }
    #bookmark-tdesc{
        font-size:35px;
    }
    #desc-book-ellip{
        margin-top:30px;
        width:300px;
    }
    #tdc-icons{
        gap:30px;
        font-size:34px;
    }
    .tutor-rating-atr{
        padding:15px;
        max-width:150px;
        font-size:14px;
        margin-top: 3%;
    }
    #desc-tdc{
        width: 90%;
        max-width:90%;
        margin:5%;
        line-height: 45px;
        font-size:24px;
    }
}
@media only screen and (min-width:1000px) and (max-width:1800px){
    .filter-dropmenu button{
        display:none;   
    }
    #filter-dropmenu-container{
        display:flex;
        flex-direction: column;
        justify-content: start;
        gap:1%;
        width:20%;
        height:90%;
        float:left;
        background-color: #1c232f;
        border-radius: 18px;
        padding-left: 5%;
        padding-right:5%;
    }
    
    #tsc-container{
        display:block;
        width:60%;
        height:90%;
        float:right;
        background-color: #1c232f;
        border-radius: 18px;
    }
    #search-list-btn{
        display:block;
        background-color:#ee6c4d;
        border:none;
        color:#fff;
        border-radius: 18px;
        font-size:24px;
        letter-spacing: 1px;
        width:130%;
        height:7%;
        margin-top:10%;
    }
    .dropmenu{
        color: #e0fbfc ;
        background: none;
        font-size: 20px;
        height:40px;
        width:100%;
    }
    .filter-dropmenu{
        border:none;
        width:120%;
        height:40px;
        margin-top:15%;
    }
    #tutor-search{
        width:100%;
        height:40px;
        font-size:18px;
    }
    #top-tdc{
        width:80%;
    }
    #tutor-display-container{
        width:90%;
        height:90%;
        position:relative;
        display:none;
    }
    .fa-bars{
        color:#000;
        font-size:34px;
        display:block;
        margin-left:5%;
        margin-top:5%;
    }
    .fa-bars:hover{
        cursor: pointer;
    }
    .tutor-list{
        width:80%;
        height:350px;
        margin:5%;
    }
    #top-tdc header{
        font-weight:700;
        font-size:50px;
        letter-spacing: 1px;
    }
    #top-tdc header2{
        font-size:45px;
        font-weight:700;
    }
    .t-icon-desc{
        margin-top: 30px;
        font-size: 25px;
    }
    .t-icon-desc .fa-star{
        font-size: 18px;
    }
    .t-icon-desc div{
        width:50px;
        margin-right:25px;
    }
    #gmail-icon{
        font-size:25px;
    }
    #tutor-key-book{
        padding: 20px;
        width:230px;
        font-size:24px;
        letter-spacing: 2px;
    }
    .list-portrait{
        width:80px;
        height:80px;
        border-bottom: 3px solid #ee6c4d;
        border-radius: 18px;
        margin-bottom: 20px;
        display:block;
    }
    .list-left-container h2{
        font-size: 30px;
        margin-bottom:0;
        margin-top:0;
        line-height: 30px;
        padding-top:20px;
    }

    .list-left-container h3{
        font-weight: normal;
        margin-top:0.5vmin;
        font-size:20px;
    }
    .list-left-container h4{
        font-size: 24px;
        margin-bottom: 0;

    }
    .list-left-container p{
        font-size: 18px;
        letter-spacing: 0.1vmin;
        line-height: 2vmin;
        -webkit-line-clamp: 3;
    }
    #bookmark-tdesc{
        font-size:35px;
    }
    #desc-book-ellip{
        margin-top:30px;
        width:300px;
    }
    #tdc-icons{
        gap:30px;
        font-size:34px;
    }
    #bot-tdc{
        display:flex;
        max-width: 90%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .tutor-rating-atr{
        padding:1vmin;
        max-width:300px;
        font-size:18px;
        margin-top: 3%;
    }
    #desc-tdc{
        width: 90%;
        max-width:90%;
        margin:5%;
        line-height: 45px;
        font-size:24px;
    }
}
@media only screen and (min-width:0px) and (max-width:700px){
    .filter-dropmenu button{
        display:none;   
    }
    
    #filter-dropmenu-container{
        display:flex;
        flex-direction: column;
        justify-content: start;
        gap:4%;
        width:20%;
        height:90%;
        background-color: #1c232f;
        border-radius: 18px;
        padding-left: 5%;
        padding-right:1%;
        margin: 5% 0 0 0;
        
    }
    #filter-tutor-container{
        display:flex;
        background-color: #1c232f;
        height:80vh;
        margin-bottom: 5vh;
        border-radius: 12px;
    }
    #tsc-container{
        display:block;
        width:80%;
        height:98%;
        background-color: #1c232f;
        border-radius: 18px;
    }
    #search-list-btn{
        display:block;
        background-color:#ee6c4d;
        border:none;
        color:#fff;
        border-radius: 18px;
        font-size:3vmin;
        letter-spacing: 1px;
        width:130%;
        height:7%;
        margin-top:15%;
    }
    .dropmenu{
        color: #e0fbfc ;
        background: none;
        font-size: 2.2vmin;
        height:40px;
        width:100%;
    }
    .filter-dropmenu{
        border:none;
        width:120%;
        height:40px;
        margin-top:15%;
    }
    #tutor-search{
        width:100%;
        height:40px;
        font-size:2.2vmin;
    }
    #top-tdc{
        width:88%;
        justify-content: space-between;
    }
    #tutor-display-container{
        width:95%;
        height:95%;
        position:relative;
        display:none;
        scrollbar-width: none;
    }
    .fa-bars{
        color:#000;
        font-size:6vmin;
        display:block;
        margin-left:5%;
        margin-top:5%;
    }
    .fa-bars:hover{
        cursor: pointer;
    }
    .tutor-list{
        width:85%;
        height:25vh;
        margin:5%;
    }
    #top-tdc header{
        font-weight:700;
        font-size:7vmin;
        line-height: 7.5vmin;
        letter-spacing: 1px;
    }
    #top-tdc header2{
        font-size:6.5vmin;
        font-weight:700;
    }
    #gmail-icon{
        font-size:3.1vmin;
    }
    .t-icon-desc{
        margin-top: 1.3vmin;
        font-size: 4vmin;
    }
    .t-icon-desc .fa-star{
        font-size: 2.3vmin;
    }
    .t-icon-desc div{
        width:2vmin;
        margin-right:25px;
    }
    #tutor-key-book{
        padding: 5vmin;
        width:30vmin;
        font-size:3vmin;
        letter-spacing: 2px;
    }
    .list-portrait{
        width:10vmin;
        height:10vmin;
        border-bottom: 3px solid #ee6c4d;
        border-radius: 18px;
        margin-bottom: 2vmin;
        display:block;
    }
    .list-left-container h2{
        font-size: 4vmin;
        margin-bottom:0;
        margin-top:0;
        line-height: 4vmin;
        padding-top:2vmin;
    }

    .list-left-container h3{
        font-weight: normal;
        line-height: 3.5vmin;
        margin-top:0.5vmin;
        font-size:3.3vmin;
    }
    .list-left-container h4{
        font-size: 3.5vmin;
        margin-bottom: 0;

    }
    .list-left-container p{
        font-size: 2.9vmin;
        letter-spacing: 0.1vmin;
        line-height: 3vmin;
        -webkit-line-clamp: 3;
    }
    #bookmark-tdesc{
        font-size:4.7vmin;
    }
    #desc-book-ellip{
        margin-top:30px;
        width:40vmin;
    }
    #tdc-icons{
        gap:2vmin;
        font-size:4vmin;
    }
    .tutor-rating-atr{
        padding:1vmin;
        max-width:40vmin;
        font-size:3vmin;
    }
    #bot-tdc{
        display:flex;
        max-width: 90%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #desc-tdc{
        width: 90%;
        max-width:90%;
        margin:5%;
        line-height: 6vmin;
        font-size:3vmin;
    }
}
@media only screen and (min-width:700px) and (max-width:1000px){
    .filter-dropmenu button{
        display:none;   
    }
    
    #filter-dropmenu-container{
        display:flex;
        flex-direction: column;
        justify-content: start;
        gap:4%;
        width:20%;
        height:90%;
        background-color: #1c232f;
        border-radius: 18px;
        padding-left: 5%;
        padding-right:1%;
        margin: 5% 0 0 0;
    }
    #filter-tutor-container{
        display:flex;
        background-color: #1c232f;
        height:80vh;
        margin-bottom: 5vh;
        border-radius: 12px;
    }
    #tsc-container{
        display:block;
        width:80%;
        height:98%;
        background-color: #1c232f;
        border-radius: 18px;
    }
    #search-list-btn{
        display:block;
        background-color:#ee6c4d;
        border:none;
        color:#fff;
        border-radius: 18px;
        font-size:20px;
        letter-spacing: 1px;
        width:130%;
        height:7%;
        margin-top:15%;
    }
    .dropmenu{
        color: #e0fbfc ;
        background: none;
        font-size: 16px;
        height:40px;
        width:100%;
    }
    .filter-dropmenu{
        border:none;
        width:120%;
        height:40px;
        margin-top:15%;
    }
    #tutor-search{
        width:100%;
        height:40px;
        font-size:14px;
    }
    #top-tdc{
        width:88%;
        justify-content: space-between;
    }
    #tutor-display-container{
        width:95%;
        height:95%;
        position:relative;
        display:none;
    }
    .fa-bars{
        color:#000;
        font-size:34px;
        display:block;
        margin-left:5%;
        margin-top:5%;
    }
    .fa-bars:hover{
        cursor: pointer;
    }
    .tutor-list{
        width:85%;
        height:350px;
        margin:5%;
    }
    #top-tdc header{
        font-weight:700;
        font-size:50px;
        letter-spacing: 1px;
    }
    #top-tdc header2{
        font-size:45px;
        font-weight:700;
    }
    #gmail-icon{
        font-size:25px;
    }
    .t-icon-desc{
        margin-top: 30px;
        font-size: 25px;
    }
    .t-icon-desc .fa-star{
        font-size: 18px;
    }
    .t-icon-desc div{
        width:50px;
        margin-right:25px;
    }
    #tutor-key-book{
        padding: 20px;
        width:230px;
        font-size:24px;
        letter-spacing: 2px;
    }
    .list-portrait{
        width:80px;
        height:80px;
        border-bottom: 3px solid #ee6c4d;
        border-radius: 18px;
        margin-bottom: 20px;
        display:block;
    }
    .list-left-container h2{
        font-size: 27px;
        margin-bottom:0;
        margin-top:0;
        line-height: 30px;
        padding-top:20px;
    }

    .list-left-container h3{
        font-weight: normal;
        line-height: 20px;
        margin-top:0.5vmin;
        font-size:20px;
    }
    .list-left-container h4{
        font-size: 23px;
        margin-bottom: 0;

    }
    .list-left-container p{
        font-size: 18px;
        letter-spacing: 0.1vmin;
        line-height: 24px;
        -webkit-line-clamp: 3;
    }
    #bookmark-tdesc{
        font-size:35px;
    }
    #desc-book-ellip{
        margin-top:30px;
        width:300px;
    }
    #tdc-icons{
        gap:30px;
        font-size:34px;
    }
    .tutor-rating-atr{
        padding:1vmin;
        max-width:300px;
        font-size:20px;
    }
    #bot-tdc{
        display:flex;
        max-width: 90%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #desc-tdc{
        width: 90%;
        max-width:90%;
        margin:5%;
        line-height: 45px;
        font-size:24px;
    }
}